# Librerías base del proyecto
requests
pandas
apscheduler
python-dotenv
loguru
pytest
requests-mock
pytz

# Librerías para dashboard y visualización
streamlit
plotly

# Librerías para Machine Learning
scikit-learn
numpy